@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header-container {
  padding: 18px 50px;
}
.container {
  padding: 0 120px;
}
body {
  background: rgba(255, 245, 240, 1);
  font-family: Outfit;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
}
.navButtonLink {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(38, 38, 38, 1);
}
.navButtonlist {
  border-left: 2px solid black;
  padding: 14px;
}
.orange1 {
  background-color: rgba(255, 174, 128, 1);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.orange2 {
  background-color: rgba(255, 239, 229, 1);
}
.overview {
  display: flex;
  width: 100%;
  column-gap: 60px;
  .overviewLeft {
    width: 50%;
    .overviewLeftImg {
      width: 100%;
      object-fit: contain;
    }
  }
  .overviewRight {
    width: 50%;
    display: flex;
    flex-direction: column;

    .welcome {
      width: 62%;
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      color: rgba(38, 38, 38, 1);
      border-bottom: 2px solid black;
    }
    h1 {
      font-weight: 800;
      font-size: 54px;
      line-height: 70.2px;
      color: rgba(38, 38, 38, 1);
      margin-bottom: 30px;
      span {
        color: rgba(255, 141, 77, 1);
      }
    }
    .overviewDescription {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: rgba(51, 51, 51, 1);
      margin-bottom: 60px;
    }
  }
}
.benefits {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 200px;
  .benefitsTop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 19px;
    margin-bottom: 100px;
    .benefitsButton {
      background-color: white;
      border: 2px solid black;
      border-radius: 5px;
      padding: 10px 20px;
      a {
        color: rgba(51, 51, 51, 1);
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
      }
    }
    h1 {
      font-weight: 700;
      font-size: 58px;
      line-height: 75.4px;
      text-align: center;
      color: rgba(26, 26, 26, 1);
    }
    p {
      width: 83%;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: rgba(51, 51, 51, 1);
    }
  }
  .benefitsBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    .benefitsBottomBottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .boxes {
        width: 32%;
        border-radius: 12px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        background: rgba(255, 255, 255, 1);
        border: 2px solid rgba(38, 38, 38, 1);
        box-shadow: 6px 6px 0px 2px rgba(30, 30, 30, 1);
        img {
          margin-top: -40px;
        }
        h2 {
          width: 100%;
          font-weight: 700;
          font-size: 22px;
          line-height: 36.4px;
          color: rgba(26, 26, 26, 1);
          margin-top: 41px;
        }
        p {
          width: 100%;
          font-weight: 500;
          font-size: 15px;
          line-height: 30px;
          color: rgba(76, 76, 77, 1);
          margin-top: 20px;
        }
      }
    }
  }
}
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 200px;
  .testimonialsTop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 19px;
    margin-bottom: 100px;
    .testimonialsButton {
      background-color: white;
      border: 2px solid black;
      border-radius: 5px;
      padding: 10px 20px;
      a {
        color: rgba(51, 51, 51, 1);
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
      }
    }
    h1 {
      font-weight: 700;
      font-size: 58px;
      line-height: 75.4px;
      text-align: center;
      color: rgba(26, 26, 26, 1);
    }
    p {
      width: 83%;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: rgba(51, 51, 51, 1);
    }
  }
  .testimonialsBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    .testimonialsBottomTop {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .cards {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 32%;
        border-radius: 12px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        background: rgba(255, 255, 255, 1);
        border: 2px solid rgba(38, 38, 38, 1);
        box-shadow: 6px 6px 0px 2px rgba(30, 30, 30, 1);
        img {
          margin-top: 60px;
        }
        h2 {
          width: 100%;
          font-weight: 700;
          font-size: 22px;
          line-height: 36.4px;
          color: rgba(26, 26, 26, 1);
          text-align: center;
          margin-top: 22px;
        }
        p {
          width: 100%;
          font-weight: 500;
          font-size: 15px;
          line-height: 30px;
          color: rgba(76, 76, 77, 1);
          margin-top: 30px;
          text-align: center;
        }
      }
    }
  }
}
.explore {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 200px;
  margin-bottom: 140px;
  .exploreTop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 19px;
    margin-bottom: 100px;
    .exploreButton {
      background-color: white;
      border: 2px solid black;
      border-radius: 5px;
      padding: 10px 20px;
      a {
        color: rgba(51, 51, 51, 1);
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
      }
    }
    h1 {
      font-weight: 700;
      font-size: 58px;
      line-height: 75.4px;
      text-align: center;
      color: rgba(26, 26, 26, 1);
    }
    p {
      width: 83%;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: rgba(51, 51, 51, 1);
    }
  }
  .exploreBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    .exploreBottomBottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .navigatebox {
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 12px;
        padding: 80px;
        background: rgba(255, 255, 255, 1);
        border: 2px solid rgba(38, 38, 38, 1);
        box-shadow: 6px 6px 0px 2px rgba(30, 30, 30, 1);
        .navigationimg {
          width: 90%;
          margin-bottom: 50px;
        }
        h2 {
          font-weight: 700;
          font-size: 48px;
          line-height: 62.4px;
          text-align: center;

          color: rgba(26, 26, 26, 1);
          text-align: center;
          margin-bottom: 30px;
        }
        p {
          width: 100%;
          font-weight: 500;
          font-size: 15px;
          line-height: 30px;
          color: rgba(76, 76, 77, 1);
          text-align: center;
          /* margin-top: 20px; */
          /* margin-bottom: 80px; */
        }
        button {
          width: 98%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border-radius: 10px;
          border-width: 2px;
          padding-top: 18px;
          padding-bottom: 18px;
          background-color: rgba(255, 222, 204, 1);
          border: 2px solid rgba(38, 38, 38, 1);
          box-shadow: 4px 4px 0px 2px rgba(30, 30, 30, 1);
          margin-top: 80px;

          a {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: rgba(51, 51, 51, 1);
          }
          .arrowimg {
            margin-top: 5px;
          }
        }
      }
    }
  }
}
footer {
  width: 95%;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(38, 38, 38, 1);
  box-shadow: 6px 6px 0px 2px rgba(30, 30, 30, 1);
  border-radius: 12px;
  border-width: 2px;
  margin: 0 auto;
  margin-bottom: 40px;

  .footer {
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    padding-left: 100px;
    .footerTop {
      display: flex;
      .footerInfo {
        width: 33%;
        p {
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          color: rgba(76, 76, 77, 1);
          margin-top: 20px;
          margin-bottom: 50px;
        }
        .infoBoxes {
          display: flex;
          align-items: center;
          column-gap: 5px;
          margin-bottom: 24px;
          h5 {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: rgba(38, 38, 38, 1);
          }
        }
      }
      .footerList {
        width: 66%;
        display: flex;
        margin-left: 20px;
        column-gap:50px ;
        .listContainer {
          display: flex;
          column-gap: 50px;
          ul {
            display: flex;
            flex-direction: column;
            row-gap: 14px;
            li {
              margin-bottom: 10px;
              .title {
                font-weight: 600;
              }
              a {
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: rgba(51, 51, 51, 1);
              }
            }
          }
        }
      }
    }
    .footerBottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 45px 0;
      border-top: 1px solid rgba(38, 38, 38, 1);
      border-bottom: 1px solid rgba(38, 38, 38, 1);
      margin-top: 40px;
      .titles {
        display: flex;
        width: 50%;
        column-gap: 16px;
        h3 {
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          color: rgba(51, 51, 51, 1);
        }
        span {
          line-height: 30px;
          font-size: 18px;
          color: rgba(51, 51, 51, 1);
        }
      }
      .icons {
        display: flex;
        width: 50%;
        column-gap: 14px;
        justify-content: flex-end;
      }
    }
    .copyright {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 30px;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: rgba(101, 101, 103, 1);
    }
  }
}
